* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    min-height: 80vh;
}
/*Primera parte*/
.seleccionado{
    background-color: rgba(151, 151, 151, 0.411);
    border-radius: 15vw;
    padding: 1vw;
}

#administracion-menu{
    margin-left: 2vw;
    box-sizing: border-box;
    width: 15%;
}

#administracion-menu ul {
    padding: 0;
    list-style-type: none;
}

#administracion-menu li {
    font-size: 25px;
    width: auto;
    height: 2em;
    color: rgb(17, 0, 255);
    border-left: 0.08em none;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
    font-size: 2vw;
}

#administracion-menu li a{
    text-decoration: none;
    position: relative;
    color: black;
}

#administracion-menu li::before,
#administracion-menu li::after{
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -15;
    border-left: 0.08em solid;
}

#administracion-menu  li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

#administracion-menu li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

#administracion-menu li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: -10;
    /*
    border: 0.08em solid;
    justify-content: center;
    font-family: sans-serif;
    */
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

#administracion-menu li:hover span {
    transform: translateX(0.15em);
}

/*Segunda parte*/
#administracion-tabla{
    text-align: justify;
    width: 100%;
    background-color: rgba(127, 127, 255, 0.788);
    margin-top: 1vw;
    padding: 1.5vw;
    border-radius: 2vw;
}
/*Tabla de la segunda parte*/

button {
    color: white;
    border: none;
    padding: 0.6vw 1vw;
    border-radius: 5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1vw;
}

.detalles {
    background-color: #ffc107;
}

.editar {
    background-color: #28a745;
}

.eliminar {
    background-color: #dc3545;
}

button:hover {
    opacity: 0.9;
}
/*//////////////////////////////////////////*/
.arriba{
    display: flex;
    position: sticky;
}
.arriba div{
    width: 80%;
    padding: 0.5vw;
}
.arriba .buscador input{
    border-radius: 5vw;
    padding: 0.6vw;
    border: 0.2rem solid black;
    width: 90%;
}
#abrirModal {
    background-color: #dc3545;
    text-decoration: none;
    border-radius: 0.5vw;
    text-align: center;
    width: 8%;
    font-size: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    padding: 1vw;
    margin: 12% auto;
}
#abrirModal:hover {
    transform: scale(1.1);
}
#abrirModal:active {
    transform: scale(0.9);
}

.toda_tabla{
    width: 80%;
}
/*///////////////////////////////////////*/
.modal textarea{
    width: 80%;
    height: 10vw;
    resize: none;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 0.5vw;
    margin: 1vw 0;
    text-align: center;
}
.modal input[type="text"] {
    width: 60%;
    padding: 1vw;
    margin: 1vw 0;
    border: none;
    border-bottom: 0.2vw solid black;
    font-size: 1vw;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto; 
}

.modal-contenido {
    background-color: #fff;
    margin: 5% auto;
    padding: 2vw;
    border: 1px solid #888;
    width: 80%;
    max-width: 80%;
    text-align: center;
    border-radius: 1vw;
    min-height: 80%;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#registrar {
    background-color: #2E4596;
    color: white;
    text-decoration: none;
    border-radius: 0.5vw;
    width: 30%;
    font-size: 1vw;
    padding: 1vw;
    margin: 0 auto;
    text-align: center;
}
#registrar:hover {
    transform: scale(1.1);
}
#registrar:active {
    transform: scale(0.9);
}
/*Targetas expandibles*/
.content {
    width: 30%;
    padding: 0.5vw;
    background-color: #bcc6e6;
    border-radius: 0.5vw;
    cursor: pointer;
    overflow: hidden;
    max-height: 3.7vw; /* Altura inicial */
    margin: 1vw;
    min-width: 40vh;
    z-index: 0;
}
.content p{
    text-align: justify;
    margin-bottom: 1vw;
    font-size: 1.25vw;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1.5s ease, transform 5s ease;
}
.content h2{
    padding: 0.8vw 0;
    font-size: 1.5vw;
}
  /* Clase para expandir el contenido */
.expanded {
    max-height: none; /* Altura cuando está expandido */
    max-height: 50000000000000px;
}
.expanded p {
    opacity: 1; /* Muestra el texto cuando está expandido */
    transform: translateY(0); /* Restablece la posición original */
}

#formulario_contactos{
    display: flex;
}
#formulario_contactos #izquierda,#formulario_contactos #derecha{
    width: 50%;
    padding: 2vw;
}

@media (max-width: 768px) {
    table {
        font-size: 2.5vw;
    }

    button {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 1vw;
    }

    button {
        font-size: 1vw;
    }
}
