.modal-contenido {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre columnas */
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre elementos */
}

label {
    font-weight: bold;
}

textarea, input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent; /* Fondo sin color */
}

textarea {
    resize: vertical;
}

img {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
