* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Primera parte*/
#inicio{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../image/bed.jpg');
    text-align: center;
}
#inicio img{
    width: auto;
    height: 40vh;
    margin-top: 5vh;
}
#inicio button {
    width: auto;
    height: auto;
    padding: 1%;
    border-radius: 5%;
    border: none;
    padding: 1vh;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 10vh;
    color: white;
    background-color: #EC221F;
    font-size: 2vh;
}
#inicio button:hover {
    transform: scale(1.1);
}

#inicio button:active {
    transform: scale(0.9);
}


/*2 Parte*/
#vision_mision{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    height: 100vh;
    color: white;
}
#vision_mision #image{
    width: 30%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../image/bed_vertical.jpg');
    text-align: center;
    margin-left: auto; 
}
#vision_mision #texto1{
    width: 50%;
    margin: 5vh;
    overflow: auto;
    text-align: justify;
}
/*3 parte*/
#acercadenosotros{
    width: 100%;
    height: 60vh;
    background-color: #F5EF06;
    display: flex;
    text-align: center;
}
#acercadenosotros img{
    padding: 5vh;
    width: auto;
    height: 60vh;
}
#acercadenosotros #texto2{
    width: 50%;
    margin: 5vh;
    overflow: auto;
    text-align: justify;
}
/*4 parte*/
#ubicacion h2{
    text-align: center;
    padding: 3vh;
    font-size: 5vh;
}
#ubicacion iframe{
    width: 100%;
    height: 50vh;
    margin: 1vh 0;
}
#ubicacion h3{
    font-size: 3vh;
    text-align: center;
    /*
    vertical-align: middle;
    */
}
#ubicacion-text{
    display: flex;
    padding: 2vh;
}
#ubicacion-text img{
    width: auto;
    height: 3vh;
}
 
/* Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #inicio img{
        width: auto;
        height: 40vh;
        margin-top: 10%;
    }
    #inicio button {
        padding: 3vh;
        font-size: 2.5vh;
    }
    #vision_mision #image{
        width: 40%;
    }
    #acercadenosotros{
        display: block;
        height: 100vh;
    }
    #acercadenosotros img{
        padding: 2vh;
        width: 40vh;
        height: auto;
    }
    #acercadenosotros #texto2{
        width: 90%;
        height: 45vh;
        margin: auto;
    }
    #ubicacion-text{
        display: flex;
        padding: 2vh;
    }
}
/* telefonos */
@media screen and (max-width: 768px) {
    #inicio img{
        width: auto;
        height: 30vh;
        margin-top: 10%;
    }
    #inicio button {
        padding: 3vh;
        font-size: 1.5vh;
    }
    #vision_mision #image{
        width: 40%;
    }
    #acercadenosotros{
        display: block;
        height: 100vh;
    }
    #acercadenosotros img{
        padding: 2vh;
        width: 40vh;
        height: auto;
    }
    #acercadenosotros #texto2{
        width: 90%;
        height: 45vh;
        margin: auto;
    }
    #ubicacion-text{
        display: flex;
        padding: 2vh;
    }
}