<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catalogo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/producto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cargando.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/usuario.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header id="header">
        <img src="{{ url_for('static', filename='image/logo_sin_letras.png') }}" alt="logo" id="logo">
        <input type="checkbox" id="btn-menu"> <!-- Checkbox visible, no se muestra en la navegación -->
        <label for="btn-menu">
            <img src="{{ url_for('static', filename='image/options.svg') }}" alt="menu" id="iconmenu">
        </label>
        <nav id="menu">
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/catalogo">Productos</a></li>
                {% if admin %}
                    <li><a href="/administrador">Administrar</a></li>
                {% endif %}
            </ul>
            {% if inicio %}
                <button id="salir">Cerrar sesión</button>
            {% else %}
                <button id="iniciar" onclick="window.location.href='/inicio_usuario'">Iniciar sesión</button>
                <button id="registrarse" onclick="window.location.href='/inicio_usuario'">Registrarse</button>
            {% endif %}
        </nav>
    </header>
    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="loader"></div>
    </div>
    <!--Modal para editar-->
    <div id="miModal2" class="modal">
        <div class="modal-contenido" id="edicion_contenido">
            
        </div>
    </div>
    
    <main>
        <section>
            <h2>Información del Usuario</h2>
            <div class="izquierda">
                <img src="{{ url_for('static', filename='image/group.png') }}" alt="">
            </div>
            <div class="derecha">
                <p><strong>Usuario:</strong> {{ cont.User }}</p>
                <p><strong>Correo Electrónico:</strong> {{ cont.Email }}</p>
                <p><strong>Nombre:</strong> {{ cont.Name }}</p>
                <p><strong>Apellido Paterno:</strong> {{ cont.Surname }}</p>
                <p><strong>Apellido Materno:</strong> {{ cont.Lastname }}</p>
            </div>
            <button onclick="eliminarusuariosolito()">Borrar cuenta</button>
            <button onclick="editarusuario()">Editar cuenta</button>            
        </section>
        
    </main>

    <footer>
        <div id="menu">
            
        </div>
        <div id="contactos">

        </div>
        <div id="derechos_reservados">
            <div>
                <img src="{{ url_for('static', filename='image/LOGO.png') }}" alt="logo" id="logo">
                <p>
                    ®Blancos y confecciones de durango S.A. de C.V.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>