<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blancos y Confecciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cargando.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/administracion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</head>
<body>
    <header id="header">
        <a href="/">
            <img src="{{ url_for('static', filename='image/logo_sin_letras.png') }}" alt="logo" id="logo">
        </a>

        <input type="checkbox" id="btn-menu"> <!-- Checkbox visible, no se muestra en la navegación -->
        <label for="btn-menu">
            <img src="{{ url_for('static', filename='image/options.svg') }}" alt="menu" id="iconmenu">
        </label>

        <nav id="menu">
            <ul>
                <li><a href="/catalogo">Productos</a></li>
            </ul>
            <button id="salir">Cerrar secion</button>
        </nav>
    </header>
    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="loader"></div>
    </div>
    <!--Modal para registrar-->
    <div id="miModal" class="modal">
        <div class="modal-contenido">
            <span class="cerrar">&times;</span>
            <h1>
                Registro de producto
            </h1>
            <div class="izquierda">
                <label for="image">Imagen del producto:
                    <input type="file" name="" id="image" accept="image/">
                </label>
                <br>
                <label for="modelo">Modelo:
                    <input type="text" name="" id="modelo">
                </label>
                <br>
                <label for="temporada">Temporada:
                    <input type="text" name="" id="temporada">
                </label>
                <br>
                <label for="tamaño">Tamaño:
                    <input type="text" name="" id="tamaño">
                </label>
                <br>
                <label for="nombre">Nombre:
                    <input type="text" name="" id="nombre">
                </label>
                <br>
            </div>
            <div class="derecha">
                <label for="descripcion">Descripción:
                    <textarea name="" id="descripcion"></textarea>
                </label>
                <br>
                <label for="precio_lot">Precio (lote):
                    <input type="number" name="" id="precio_lot">
                </label>
                <br>
                <label for="color">Color:
                    <input type="text" name="" id="color">
                </label>
                <br>
                <label for="materia">Material de composisión:
                    <input type="text" name="" id="materia">
                </label>
                <br>
            </div>
            <br>
            <button id="registrar" onclick="registrarproducto()">Registrar</button>
        </div>
    </div>

    <!--Modal para editar-->
    <div id="miModal2" class="modal">
        <div class="modal-contenido" id="edicion_contenido">
            
            
        </div>
    </div>
    
    <main>
        <section id="administracion-menu">
            <ul>
                <li><a href="/administrador">
                    <span>
                        Inicio
                    </span>
                </a></li>
                <li><a href="/administrador_productos">
                    <span>
                        <p class="seleccionado">
                            Productos
                        </p>
                    </span>
                </a></li>
                <li><a href="/administrador_contact">
                    <span>
                        Contactos
                    </span>
                </a></li>
                <li><a href="/administrador_content">
                    <span>
                        Contenido
                    </span>
                </a></li>
                <li><a href="administrador_user">
                    <span>
                        Usuarios
                    </span>
                </a></li>
                <li><a href="/administrador_season">
                    <span>
                        Temporadas
                    </span>
                </a></li>
            </ul>
        </section>
        <section class="toda_tabla">
            <div class="arriba">
                <div class="buscador">
                    <input type="text" placeholder="Buscador" id="buscador" oninput="buscador()">
                </div>
                <button id="abrirModal">Registrar</button>
            </div>
            <section id="administracion-tabla">
                
            </section>
        </section>
    </main>

    <footer>
        <div id="menu">
            
        </div>
        <div id="contactos">

        </div>
        <div id="derechos_reservados">
            <div>
                <img src="{{ url_for('static', filename='image/LOGO.png') }}" alt="logo" id="logo">
                <p>
                    ®Blancos y confecciones de durango S.A. de C.V.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>