<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blancos y Confecciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <header id="header">
        <img src="{{ url_for('static', filename='image/logo_sin_letras.png') }}" alt="logo" id="logo">

        <input type="checkbox" id="btn-menu"> <!-- Checkbox visible, no se muestra en la navegación -->
        <label for="btn-menu">
            <img src="{{ url_for('static', filename='image/options.svg') }}" alt="menu" id="iconmenu">
        </label>

        <nav id="menu">
            <ul>
                <li><a href="#contactos">Contactos</a></li>
                <li><a href="#acercadenosotros">Acerca de nosotros</a></li>
                <li><a href="#ubicacion">Ubicacion</a></li>
                <li><a href="/catalogo">Productos</a></li>
            </ul>
            <button id="iniciar" onclick="window.location.href='/inicio_sesion'">Iniciar sesión</button>
            <button id="registrarse" onclick="window.location.href='/inicio_usuario'">Registrarse</button>
        </nav>
    </header>

    <main>
        <section id="inicio">
            <img src="{{ url_for('static', filename='image/logo_sin_letras.png') }}" alt="menu" id="iconmenu">
            <br>
            <button onclick="document.getElementById('vision_mision').scrollIntoView({ behavior: 'smooth' });">Ver Productos/Saber más (mandar abajo)</button>
        
        </section>
        <section id="vision_mision">
            <div id="texto1"></div>
            <div id="image"></div>
        </section>
        <section id="acercadenosotros">
            <div id="image">
                <img src="{{ url_for('static', filename='image/group.png') }}" alt="Equipo de trabajo">
            </div>
            <div id="texto2"></div>
        </section>
        <section id="ubicacion">
            <h2>Ubicacion</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.7977966321264!2d-104.63266229999999!3d24.038194599999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb7b83ae34c4d%3A0x9033e1c23eee3137!2sBlancos%20Y%20Confecciones%20De%20Durango!5e0!3m2!1ses!2smx!4v1729608747730!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div id="ubicacion-text">
                <img src="{{ url_for('static', filename='image/location.png') }}" alt="">
                <h3>
                    Blvd. Francisco Villa #746. Durango, Dgo.
                </h3>
            </div>
        </section>
    </main>

    <footer>
        <div id="menu">
            <p>
                Menu
            </p>
            <ul>
                <li><a href="#contactos">Contactos</a></li>
                <li><a href="#acercadenosotros">Acerca de nosotros</a></li>
                <li><a href="#ubicacion">Ubicacion</a></li>
                <li><a href="#productos">Productos</a></li>
            </ul>
        </div>
        <div id="contactos">

        </div>
        <div id="derechos_reservados">
            <div>
                <img src="{{ url_for('static', filename='image/LOGO.png') }}" alt="logo" id="logo">
                <p>
                    ®Blancos y confecciones de durango S.A. de C.V.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>