@import "index.css";
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 2vw;
}
.titulo{
    font-size: 2.5vw;
    text-align: center;
}

#filtros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vw 0vw  2vw 0vw;
    width: 100%;
    padding: 0 20px;
}
#filtros #buscador{
    color: black;
    font-size: 1.5vw;
    width: 30%;
    box-sizing: border-box;
}

#filtros img{
    width: 1.5vw;
    margin-left: 1vw;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2vw auto;
    width: 100%;
    padding: 0 20px;
}

#producto > .info{
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 0px #0000006e;
}
#catalogo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
    gap: 2vw;
    width: 100%;
    padding: 0 20px;
}
.producto{
    padding: 2vw;
    border-radius: 5px;
    background-color:rgb(207, 207, 207);
    margin-bottom: 2vw;
    box-shadow : 0 2px 7px #dfdfdf;
    color: white;
}

.producto:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.producto #nombre-producto:hover{
    color: #fbb72c;
}

.producto img{
    width: 90%;
    border-radius: 20%;
    background: #f0f0f0;
    place-items: center;
}


.producto #nombre-producto{
    font-size: 3rem;
    font-weight: 500;
    display: block;
    margin: 0;
    transition: 0.3s;
    line-height: 2;
}


.producto a{
    text-decoration: none;
    color: black;
}